<!DOCTYPE html>
<html>
  <head>
    <title>MoreS'mores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.2/css/unicons.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Rails.application.credentials.google %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


