<!DOCTYPE html>
<html>
  <head>
    <title>MoreS'mores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.2/css/unicons.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA0zZkRFga2A2odCSHV3eICWHQsytmsqPs"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


